<p>products works!</p>
<div class="bg-light">
    <div class="container">
        <div class="row">
           
             <div class="col-3" *ngFor="let p of getData() | filter:pname">
               <div class="card" >
                <img src="{{p.image}}" class="card-img-top img-responsive img-fluid"  alt="...">
                <div class="card-body bg-light">
                    <h5 class="card-title">{{p.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <p class="card-text">5% to 10% discount</p>
                  <a href="javascript:void()" class="btn btn-primary" (click)="addToCart(p)">Add to cart</a>
                </div>
               </div>  
             </div>
        </div>
     </div>
  </div>